# Core
fastapi
uvicorn

# Database
sqlalchemy
asyncpg
psycopg2-binary

# Settings & Validation
pydantic
pydantic-settings
python-dotenv

# Authentication
pyjwt
supabase

# AI
litellm
pgvector
mem0ai

# Spaced Repetition
fsrs

# Video
yt-dlp

# Document Processing
pymupdf
ebooklib
python-multipart
python-docx

# RAG System
unstructured[pdf]
readabilipy
markdownify
beautifulsoup4
requests
goose3[all]


# Dev
uv
ruff
mypy
asyncpg-stubs
aiosqlite
pytest
pytest-asyncio
httpx



