# Core
fastapi
uvicorn

# Database
sqlalchemy
asyncpg
psycopg2-binary
alembic

# Settings & Validation
pydantic
pydantic-settings
python-dotenv

# AI
litellm

# Spaced Repetition
fsrs


# Dev
uv
ruff
mypy
asyncpg-stubs
