/* Reset CSS to ensure no gaps */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
